<ion-header color="tertiary">
  <ion-toolbar>
    <ion-title>Modifica dati posizione</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="primary"><ion-icon size="large" name="checkmark-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label type="text" position="floating">Latitudine WGS84 (sessadecimale)</ion-label>
    <ion-input [(ngModel)]="latitude" [readonly]="isDisabled"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label type="text" position="floating">Longitudine WGS84 (sessadecimale)</ion-label>
    <ion-input [(ngModel)]="longitude" [readonly]="isDisabled"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label type="text" position="floating">Quota (m)</ion-label>
    <ion-input [(ngModel)]="altitude" [readonly]="isDisabled"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label type="text" position="floating">Precisione (m)</ion-label>
    <ion-input [(ngModel)]="accuracy" [readonly]="isDisabled"></ion-input>
  </ion-item>
</ion-content>