<ion-header>
  <ion-toolbar>
    <ion-title>Surveys</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="surveyForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-input formControlName="notes"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="createRecord()" [disabled]="surveyForm.invalid">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Create Survey
      </ion-button>
    </ion-item>

  </form>


  <ion-card *ngFor="let item of surveyList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>Survey: {{item.name}}</ion-card-title>
        <ion-card-subtitle>Location: {{item.location}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
        <p>Notes: {{item.notes}}</p>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Location</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editLocation"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Notes</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editNotes"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>