<ion-header>
  <ion-toolbar color="primary">
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="light"></ion-menu-button>
      <ion-icon src="./../../../assets/silvacuore_small_white.svg" size="large"></ion-icon>
    </ion-buttons>
    <ion-title color="light">Segnalazioni</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background">
  <ion-grid fixed>
    
  <ion-button expand="block" (click)="createSurvey()" color = "danger" shape="round">Invia una segnalazione</ion-button>

  <!-- https://forum.ionicframework.com/t/ion-items-not-transparent-ionic-4/153287/2 -->
  <ion-list class="bg-transparent">
    <ion-list-header>
      <h1>
      <ion-chip outline color="secondary">
        <ion-icon name="alert"></ion-icon>
        <ion-label>{{sentSurveyList.length}} Segnalazioni senza foto</ion-label>
      </ion-chip>
      </h1>
    </ion-list-header>
    <ion-item *ngFor="let item of nophotoSurveyList" lines="inset" color="none">
      <ion-label>
        <h2>{{item.localita}}</h2>
        <h3>{{item.short_date}}</h3>
      </ion-label>
      <ion-icon *ngIf="item.fromCache" ion-icon size="small" slot="icon-only" name="alert-circle-outline"></ion-icon>
      <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>

      <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
  <ion-list class="bg-transparent">
    <ion-list-header>
      <h1>
      <ion-chip outline color="secondary">
        <ion-icon name="mail"></ion-icon>
        <ion-label>{{sentSurveyList.length}} Segnalazioni inviate</ion-label>
      </ion-chip>
      </h1>
    </ion-list-header>
    <ion-item *ngFor="let item of sentSurveyList" lines="inset" color="none">
      <ion-label>
        <h2>{{item.localita}}</h2>
        <h3>{{item.short_date}}</h3>
      </ion-label>
      <ion-icon *ngIf="item.fromCache" ion-icon size="small" slot="icon-only" name="alert-circle-outline"></ion-icon>
      <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>

      <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list class="bg-transparent">
    <ion-list-header>
      <h1>
        <ion-chip outline color="primary">
          <ion-icon name="checkbox-outline"></ion-icon>
          <ion-label>{{reviewSurveyList.length}} Segnalazioni in revisione</ion-label>
        </ion-chip>
        </h1>
    </ion-list-header>
    
    <ion-item *ngFor="let item of reviewSurveyList" lines="inset" color="none">
      <ion-label>
        <h2>{{item.localita}}</h2>
        <h3>{{item.short_date}}</h3>
      </ion-label>
      <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list class="bg-transparent">
    <ion-list-header>
      <h1>
        <ion-chip outline color="warning">
          <ion-icon name="star"></ion-icon>
          <ion-label>{{publicSurveyList.length}} Segnalazioni pubblicate</ion-label>
        </ion-chip>
        </h1>
    </ion-list-header>
    
    <ion-item *ngFor="let item of publicSurveyList" lines="inset" color="none">
      <ion-label>
        <h2>{{item.localita}}</h2>
        <h3>{{item.short_date}}</h3>
      </ion-label>
      <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list class="bg-transparent">
    <ion-list-header>
      <h1>
        <ion-chip outline color="danger">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>{{archiveSurveyList.length}} Segnalazioni archiviate</ion-label>
        </ion-chip>
        </h1>
    </ion-list-header>
    
    <ion-item *ngFor="let item of archiveSurveyList" lines="inset" color="none">
      <ion-label>
        <h2>{{item.localita}}</h2>
        <h3>{{item.short_date}}</h3>
      </ion-label>
      <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  </ion-grid>

</ion-content>