<ion-header>
  <ion-toolbar>
    <ion-title>Segnalazioni</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background">
  <ion-fab vertical="top" horizontal="end" edge slot="fixed" (click)="createSurvey()">
    <ion-fab-button color="danger" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- //https://www.freakyjolly.com/ionic-firebase-crud-operations/#.X-2m2On0mEJ -->
  <ion-card *ngFor="let item of activeSurveys()" color="primary">
    <ion-card-header>
      <ion-card-title>Località: {{item.localita}}</ion-card-title>
      <ion-card-subtitle>Data: {{item.data_ora_osservazione}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-button shape="round" color="secondary" size="small" (click)="editSurvey(item.id)"> 
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

      </ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>