<ion-header>
  <ion-toolbar>
    <ion-title>Manuale</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="app-install">
      <ion-item slot="header" color="light">
        <ion-label>Installazione App</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Installa Silvacuore sullo smartphone</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <h3>Silvacuore può essere installato sul tuo smartphone</h3>
            <p>Una volta installato potrai aprire Silvacuore dall'icona e potrai usarlo anche senza connessione Internet</p>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Installa su Android</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <h3>Apri il menu del browser Chrome</h3>
            <img src="./../../../assets/pwa/pwa_install_android_1.png"/>
            <h3>Seleziona Installa App</h3>
            <img src="./../../../assets/pwa/pwa_install_android_2.png"/>
            
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Installa su iOS</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <h3>Premi il bottone per condividere</h3>
            <img src="./../../../assets/pwa/pwa_install_ios_1.png"/>
            <h3>Seleziona Aggiungi alla schermata Home</h3>
            <img src="./../../../assets/pwa/pwa_install_ios_2.png"/>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Installa su PC</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <h3>Premi il bottone sulla barra degli indirizzi per installare la app</h3>
            <img src="./../../../assets/pwa/pwa_install_pc_1.png"/>
            <h3>Conferma l'installazione</h3>
            <img src="./../../../assets/pwa/pwa_install_pc_2.png"/>
          </ion-card-content>
        </ion-card>
        
      </div>
    </ion-accordion>
    <ion-accordion value="new-survey">
      <ion-item slot="header" color="light">
        <ion-label>Inserire una segnalazione</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img src="../../../assets/images/helper_home_add.png" />
          <ion-card-header>
            <b>Nuova selezione</b>
          </ion-card-header>
          <ion-card-content>
            Inviaci una segnalazione con questo bottone o dalla voce di menu Segnalazioni
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="../../../assets/images/survey_helper_0_info.png" />
          <ion-card-header>
            <b>Passo 1: Dati</b>
          </ion-card-header>
          <ion-card-content>
            Aggiungi informazioni sulla segnalazione
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="../../../assets/images/survey_helper_2_photo.png" />
          <ion-card-header>
            <b>Passo 2: Foto</b>
          </ion-card-header>
          <ion-card-content>
            Allega almeno una foto descrittiva
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img src="../../../assets/images/survey_helper_3_map.png" />
          <ion-card-header>
            <b>Passo 3: Mappa</b>
          </ion-card-header>
          <ion-card-content>
            Segna con lo spillo il luogo della segnalazione
          </ion-card-content>
        </ion-card>
        
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
