<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Verifica Email
    </ion-title>

    <!-- Side menu button https://www.positronx.io/add-dynamic-side-menu-in-ionic-with-active-class/ -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="container">

      <ion-grid>
        <ion-row>
          <h2>Verifica Email</h2>
          <p>
            Perfavore controlla la tua mail e segui il link di conferma registrazione.
          </p>
          <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
            Invia nuovamnte Email di verifica
          </ion-button>
        </ion-row>
      </ion-grid>

  </div>
</ion-content>
