<ion-header>
  <ion-toolbar>
    <ion-title>Informazioni</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <img src="./../../../assets/silvacuore_logo.png"/>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        Maggiori informazioni sul sito:<br>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <a href="https://www.silvacuore.org"><ion-button>Silvacuore.it</ion-button></a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
