<ion-header>
  <ion-toolbar>
    <ion-title>Informazioni</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- div>https://www.positronx.io/ionic-angular-responsive-grid-tutorial-with-examples/<div-->
      <ion-col sizeLg="4" sizeMd="8" sizeXs="12"  class="ion-text-center">
        <ion-card class="ion-text-center">
          <img src="./../../../assets/silvacuore_animation.gif"/>
          <ion-card-title class="ion-text-center">Maggiori informazioni sul sito</ion-card-title>
          <ion-card-content cclass="ion-text-center">
            <a href="https://www.silvacuore.org"><ion-button>Silvacuore.it</ion-button></a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="4" sizeMd="8" sizeXs="12" >
        <ion-list>
          <ion-item detail href="http://agraria.unibas.it/site/home.html">
            <ion-avatar slot="start">
              <img src="./../../../assets/safe.png"/>
            </ion-avatar>
            <ion-label>
              <h2>Università della Basilicata - SAFE</h2>
              <p>Coordinamento e progettazione</p>
            </ion-label>
          </ion-item>
          <ion-item detail href="https://www.f360.it">
            <ion-avatar slot="start" >
              <img src="./../../../assets/f360.png"/>
            </ion-avatar>
            <ion-label>
              <h2>Effetreseizero srl</h2>
              <p>Progettazione e sviluppo software</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="4" sizeMd="8" sizeXs="12" >
        <ion-label><h2>Silvacuore 1.3.1</h2></ion-label>
        <ion-list>
          <ion-item>Export excel service</ion-item>
          <ion-item>PWA install - ionic 6 angular 14</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
