<ion-header>
  <ion-toolbar>
    <ion-title>Gestore Segnalazioni</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background">

  <ion-slides [options]="slideOptsSurveySlider" id="surveySlider" #surveySlider
    (ionSlideDidChange)="slideChanged($event)">
    <!--survey slide-->
    <ion-slide>
      <ion-grid fixed>
      <ion-list inset="false">
        <ion-list-header>
          <h1>Segnalazioni inviate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of sentSurveyList" class="ion-text-wrap">
          <ion-label >
            <h3>{{item.user_email}}</h3>
            <p>{{item.localita}}  {{item.short_date}}<p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="promoteToArchive(item.id)">
            <ion-icon size="small" slot="icon-only" name="library-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToReview(item.id)">
            <ion-icon size="small" slot="icon-only" name="checkbox-outline"></ion-icon>
          </ion-button>
          
        </ion-item>
      
      </ion-list>
    </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni in revisione</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of reviewSurveyList">
          <ion-label>
            <h3>{{item.user_email}}</h3>
            <p>{{item.localita}}  {{item.short_date}}<p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="promoteToArchive(item.id)">
            <ion-icon size="small" slot="icon-only" name="library-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToPublic(item.id)">
            <ion-icon size="small" slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-list>
    </ion-grid>
    </ion-slide>

    <ion-slide>
    <ion-grid fixed>
      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni pubblicate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of publicSurveyList | slice:0:publicInfiniteScrollSlice; let i=index">
          <ion-label>
            <h3>{{item.properties.user_email}}</h3>
            <p>{{item.properties.localita}} {{item.properties.short_date}}</p>
          </ion-label>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToReviewFromPublic(item.properties.id)">
            <ion-icon size="small" slot="icon-only" name="checkbox-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.properties.id)">
            <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="promoteToArchiveFromPublic(item.properties.properties.id)">
            <ion-icon size="small" slot="icon-only" name="library-outline"></ion-icon>
          </ion-button>
         
        </ion-item>

      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          distance="1%"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni archiviate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of archiveSurveyList">
          <ion-label>
            <h3>{{item.user_email}}</h3>
            <p>{{item.localita}}  {{item.short_date}}<p>
          </ion-label>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToReview(item.id)">
            <ion-icon size="small" slot="icon-only" name="checkbox-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-list>
      </ion-grid>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentSelected" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        <ion-icon  name="mail"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon  name="checkbox-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-icon  name="star"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-icon  name="library-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>



