<ion-header>
  <ion-toolbar>
    <ion-title>Gestore Segnalazioni</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background">

  <ion-slides [options]="slideOptsSurveySlider" id="surveySlider" #surveySlider
    (ionSlideDidChange)="slideChanged($event)">
    <!--survey slide-->
    <ion-slide>

      <ion-list inset="false">
        <ion-list-header>
          <h1>Segnalazioni inviate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of sentSurveyList" class="ion-text-wrap">
          <ion-label >
            <h3>{{item.localita}}</h3>
            <p>{{item.short_date}}<p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToReview(item.id)">
            <ion-icon size="small" slot="icon-only" name="document-text-outline"></ion-icon>
          </ion-button>
          
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni in revisione</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of reviewSurveyList">
          <ion-label>
            <h3>{{item.localita}}</h3>
            <p>{{item.short_date}}</p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="tertiary" size="small" (click)="promoteToPublic(item.id)">
            <ion-icon size="small" slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni pubblicate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of publicSurveyList">
          <ion-label>
            <h3>{{item.localita}}</h3>
            <p>{{item.short_date}}</p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
         
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <ion-list>
        <ion-list-header>
          <h1>Segnalazioni archiviate</h1>
        </ion-list-header>

        <ion-item *ngFor="let item of archivedSurveyList">
          <ion-label>
            <h3>{{item.localita}}</h3>
            <p>{{item.short_date}}</p>
          </ion-label>
          <ion-button slot="end" shape="round" color="secondary" size="small" (click)="editSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button slot="end" shape="round" color="danger" size="small" (click)="deleteSurvey(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
         
        </ion-item>

      </ion-list>

    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentSelected" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        <ion-label>Inviate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Revisione</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Pubblicate</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Archiviate</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>



