<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon size="large" name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>SilvaCuore</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="./../../../assets/silvacuore_logo.png"/>
        <h2>Benvenuto</h2>
        <p><b>SilvaCuore</b> è uno strumento online creato allo scopo di segnalare potenziali siti forestali in deperimento presenti sul territorio italiano. Si rivolge sia a professionisti del settore che appassionati che vogliano contribuire al monitoraggio della salute dei nostri boschi.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/guida/silvacuore_accedi-228x300.png"/>
      <h2>Contribuisci alla ricerca</h2>
      <p>E' sufficiente registrarsi con una mail per poter facilmente inviare una segnalazione di un sito in deperimento</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/guida/silvacuore_dati-243x300.png"/>
      <h2>Pochi dati, molto valore</h2>
      <p>Bastano poche informazioni, una foto e l'indicazione della posizione per poter contribuire ad un importante progetto.</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/images/helper_home_partecipa.png">
      <h2>Registrati e invia una segnalazione</h2>
      <p>Fai click sul bottone Partecipa e inviaci una segnalazione quando individui un potenziale sito forestale in deperimento </p>
      <p>Maggiori informazioni sul sito:</p>
      <p><a href="https://www.silvacuore.org"><ion-button>Silvacuore.it</ion-button></a></p>
      <ion-button (click)="dismissModal()" fill="clear"><ion-icon size="large" name="close-circle-outline"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>