<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon src="./../../../assets/silvacuore_small_white.svg" size="large"></ion-icon>
    </ion-buttons>
    
    <ion-title color="light">SilvaCuore</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon size="large" name="close-circle-outline" color="light"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true">

    <ion-slide >
        <ion-grid>
          <ion-row id="animation_row">
            <ion-col>
              <ion-img src="./../../../assets/silvacuore_animation.gif"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2>Benvenuto</h2>
              <p><b>SilvaCuore</b> è uno strumento online creato allo scopo di segnalare potenziali siti forestali in deperimento presenti sul territorio italiano. Si rivolge sia a professionisti del settore che appassionati che vogliano contribuire al monitoraggio della salute dei nostri boschi.</p>  
            </ion-col>
          </ion-row>
        </ion-grid>  
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/images/survey_woman.jpg"/>
      <h2>Contribuisci alla ricerca</h2>
      <p>E' sufficiente registrarsi con una mail per poter facilmente inviare una segnalazione di un sito in deperimento</p>
      <p>Bastano poche informazioni, una foto e l'indicazione della posizione per poter contribuire ad un progetto importante per tutti.</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/images/survey_pwa.jpg"/>
      <h2>Installa Silvacuore</h2>
      <p>Silvacuore può essere installato sul tuo smartphone</p>
      <p>Una volta installato potrai aprire Silvacuore dall'icona e potrai usarlo anche senza connessione Internet</p>
      <p>Segui le istruzioni accedendo al Manuale dal menù</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../../assets/silvacuore_logo.png"/>
      
      <h2>Registrati e invia una segnalazione</h2>
      <p>Fai click sul bottone Partecipa e inviaci una segnalazione quando individui un potenziale sito forestale in deperimento </p>
      <ion-button fill="outline" color="danger">Partecipa</ion-button>
      <p>Maggiori informazioni sul sito:</p>
      <p><a href="https://www.silvacuore.org"><ion-button color="primary">Silvacuore.it</ion-button></a></p>
    </ion-slide>

  </ion-slides>
</ion-content>