ion-grid {
  margin: 0px 0 0px; 
}


  .swiper-slide {
    display: block;
    margin: 0px 0 0px;

  }

  .swiper-slide h2 {
    margin: 0px 0 0px;
  }

  .swiper-slide img {
    max-height: 30%;
    max-width: 40%;
    margin: 0px 0 0px;
    pointer-events: none;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

