<ion-app>
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-icon src="./../../../assets/silvacuore_small_white.svg" size="large"></ion-icon>
        </ion-buttons>
        <ion-title color="light">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
            {{page.name}}
          </ion-item>
        </ion-menu-toggle>
        <!--ion-menu-toggle auto-hide="false" *ngIf="((user!=null)&&user.isAdmin)">
          <ion-item [routerLink]="" routerDirection="root" [class.active-menu]="">
            Manager
          </ion-item>
        </ion-menu-toggle-->
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>

</ion-app>
