<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TreeNote
    </ion-title>

    <!-- Side menu button https://www.positronx.io/add-dynamic-side-menu-in-ionic-with-active-class/ -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button *ngIf="!userLoggedIn" (click)="logIn()" fill="outline" color="danger">Partecipa</ion-button>
      <ion-button *ngIf="userLoggedIn" (click)="logIn()">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
</ion-content>