<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TreeNote
    </ion-title>

    <!-- Side menu button https://www.positronx.io/add-dynamic-side-menu-in-ionic-with-active-class/ -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button *ngIf="!(user!=null)" (click)="logIn()" fill="outline" color="danger">Partecipa</ion-button>
      <ion-button *ngIf="(user!=null)" (click)="userAccout()">
        <ion-icon size="large" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-fab *ngIf="(user!=null)" vertical="top" horizontal="end"  slot="fixed" (click)="createSurvey()">
    <ion-fab-button color="danger" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-ol-map
      class="map"
      [center]="[12.5,42]"
      [zoom]="5.5"
      (mapReady)="onMapReady($event)"
      #app_ol_map
  >
  </app-ol-map>
</ion-content>