<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon size="large" name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Natura dei sintomi</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header><ion-card-title>Avvizzimento fogliare</ion-card-title>
    </ion-card-header>
    <ion-card-content>Accortocciamento della superficie fogliare a partire dai lembi </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Ingiallimento fogliare</ion-card-title>
    </ion-card-header>
    <ion-card-content>Colorazione gialla della superficie fogliare</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Disseccamento di rami</ion-card-title>
    </ion-card-header>
    <ion-card-content>Presenza di rami secchi </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Microfillia</ion-card-title>
    </ion-card-header>
    <ion-card-content>Produzione anomala di foglie aventi dimensione ridotta </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Emissione rami epicormici</ion-card-title>
    </ion-card-header>
    <ion-card-content>Rami di dimensioni ridotte che si sviluppano lungo il fusto a partire da gemme dormienti</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Fessurazione longitudinale della corteccia</ion-card-title>
    </ion-card-header>
    <ion-card-content>Distacco della corteccia</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Colatura mucillaginosa</ion-card-title>
    </ion-card-header>
    <ion-card-content>Fuoriuscita di liquido mucillaginoso da fessurazioni della corteccia </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header><ion-card-title>Altro</ion-card-title>
    </ion-card-header>
    <ion-card-content>Presenza di funghi </ion-card-content>
  </ion-card>
</ion-content>
