<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dati registrazione
    </ion-title>

    <!-- Side menu button https://www.positronx.io/add-dynamic-side-menu-in-ionic-with-active-class/ -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-avatar slot="start">
          <img [src]="user.photoURL" >
        </ion-avatar>
        <h2>{{user.displayName}}</h2>
        <p>Email: {{user.email}}</p>
        <ion-button (click)="logout()"  color="danger">Logout</ion-button>
      </ion-card-content>
    </ion-card>


    
    
    
     
  </div>
</ion-content>
