<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dati registrazione
    </ion-title>

    <!-- Side menu button https://www.positronx.io/add-dynamic-side-menu-in-ionic-with-active-class/ -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="container">
    
    <ion-row>
      <ion-col> 
        <p>Email: {{user.email}}</p>
        <p>Nome: {{user.displayName}}</p>
        <p>Email verificata: {{user.emailVerified}}</p>
        <p>Admin: {{user.isAdmin}}</p>
        <p>ID: {{user.uid}}</p>

      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col> 
        <ion-button (click)="logout()" expand="block" color="dark">Logout</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
